<div class="friend-profile">
  <p>{{model.firstName}}</p>
  <p>{{model.lastName}}</p>
  <p>{{model.email}}</p>
  <p>{{model.twitter}}</p>
  <br>
  <p>{{link-to "Edit Friend" "friends.edit" model}}</p>
  <br>
  <p><a href="#" {{action "delete" model}}>Delete Friend</a></p>
</div>
